html {
    font-size: 62.5%;
    font-family: $raleway;
}

body {
    color: $accent1;
    font-size: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    background: hsl(229, 57%, 11%);
}

body::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2.1rem;
    right: 0;
    background: url('../images/bg-desktop.png') no-repeat;
    background-size: cover;
    min-height: 52.5%;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

nav {
    ul {
        display: flex;
        justify-content: space-between;
    }
    li {
        background-color: $mainCol;
        height: 4rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-height: 50%;
            max-width: 50%;
        }
    }
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    flex-basis: 2%;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}