html {
    font-size: 62.5%;
    font-family: $raleway;
}

img {
    width: 100%;
}

body {
    color: $accent1;
    font-size: 1.1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    background: hsl(229, 57%, 11%);
}

body::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2.1rem;
    right: 0;
    background: url('../images/bg-desktop.png') no-repeat;
    background-size: cover;
    min-height: 52.5%;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.wrapper {
    max-width: 1440px;
    width: 63%;
    margin: 0 auto;
}

nav, article {
    background-color: $mainCol2;
    margin: 0 1.5%;
    border-radius: .75rem;
    padding: 4.1% 4.5%;
}

nav {
    min-height: 15.7rem; 
    flex-basis: 39.25%;
    flex-grow: 1;
    border-top-right-radius: 8rem;
    display: flex;
    flex-direction: column;
    .imgContainer {
        width: 50%;
        object-fit: contain;
    }

    ul {
        display: flex;
        padding-top: 12.5%;
    }
    li {
        background-color: $mainCol;
        height: 3.75rem;
        width: 3.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3%;
        border-radius: 0.75rem;
        &:nth-of-type(1) {
            margin-left: unset;
            padding: 1.5%;
        }
        :nth-of-type(3) {
            margin-right: unset;
        }
        .imgContainer {
            max-height: 50%;
            max-width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

article {
    flex-basis: 60.5%;
    margin-right: unset;
    min-height: 12rem;
    margin-top: 3.7rem;
    position: relative;
}

//still needs a fix for the padding, it's not sitting inline like it should

.remainingSpace {
    font-size: .95rem;
    position: absolute;
    top: -30%;
    right: 7.5%;
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    color: $accent2;
    padding: 3% 4%;
    white-space: nowrap;
    min-width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        color: $mainCol;
        font-size: 3rem;
        padding-right: 10%;
    }
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    flex-basis: 2%;
    position: relative;
    z-index: 1;
}

.attribution a { 
    color: $linkCol; 
}