html {
    font-size: 62.5%;
    font-family: $raleway;
}

img {
    width: 100%;
}

body {
    color: $accent1;
    font-size: 1.1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    background: hsl(229, 57%, 11%);
    @include break(med) {
        padding-top: 34%;
        font-size: 2.05rem;
        text-align: center;
    }
}

body::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: .5rem;
    right: 0;
    background: url('../images/bg-desktop.png') no-repeat;
    background-size: cover;
    min-height: 52.5%;
    @include break(med) {
        min-height: 100%;
        background: url('../images/bg-mobile.png') no-repeat;
        background-size: cover;
        left: 0;
    }
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    @include break(med) {
        flex-direction: column;
        max-height: 70%;
    }
}

.wrapper {
    max-width: 1440px;
    width: 63%;
    margin: 0 auto;
    @include break(lrg) {
        width: 80%;
    }
    @include break(med) {
        width: 87.5%;
    }
}

nav, article {
    background-color: $mainCol2;
    margin: 0 1.5%;
    border-radius: .75rem;
    padding: 4.1% 4.5%;
    position: relative;
    z-index: auto;
    @include break(med) {
        width: 100%;
        padding: 12.25% 13%;
        border-radius: 1.5rem;
    }
    &::before {
        content: '';
        box-shadow: 0rem 5rem 5rem 1rem rgba(12, 18, 44, .4);
        z-index: -1;
        position: absolute; 
        height: 100%;
        width: 100%;
        bottom: 0;
        right: 0;
        @include break(med) {
            border-radius: 1.5rem;
            box-shadow: 0rem 5rem 5rem 1rem rgba(12, 18, 44, .4);
        }
    }
}

nav {
    min-height: 15.7rem; 
    min-width: 22.5rem;
    flex-basis: 39.25%;
    flex-grow: 1;
    border-top-right-radius: 8rem;
    display: flex;
    flex-direction: column;
    @include break(med) {
        flex-basis: 55.5%;
        border-top-right-radius: 14.5rem;
    }
    .imgContainer {
        width: 50%;
        object-fit: contain;
        @include break(med) {
            width: 56%;
        }
    }

    ul {
        display: flex;
        padding-top: 12.5%;
        @include break(med) {
            padding-top: 13.5%;
        }
    }
    li {
        background-color: $mainCol;
        height: 3.75rem;
        width: 3.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3%;
        border-radius: 0.75rem;
        @include break(med) {
            height: 7rem;
            width: 7rem;
            margin: 0 3.3%;
            border-radius: 1.5rem;
        }
        &:nth-of-type(1) {
            margin-left: unset;
            padding: 1.5%;
            @include break(med) {
                padding: 1.75%;
            }
        }
        :nth-of-type(3) {
            margin-right: unset;
        }
        .imgContainer {
            max-height: 50%;
            max-width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

article {
    flex-basis: 60.5%;
    margin-right: unset;
    min-height: 12rem;
    margin-top: 3.7rem;
    padding: 4.2% 4.4%;
    min-width: 35rem;
    @include break(med) {
        flex-basis: 44.5%;
        margin: 0;
        margin-top: 2.35rem;
        padding: 10% 10%;
    }
}

.remainingSpace {
    font-size: .974rem;
    letter-spacing: 0.05rem;
    position: absolute;
    top: -31%;
    right: 7%;
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    color: $accent2;
    padding: 3% 4.25%;
    width: 13.9rem;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .75rem;
    border-bottom-right-radius: 0;
    @include break(med) {
        top: unset;
        right: 50%;
        bottom: -21%;
        width: 26rem;
        margin-right: -13rem;
        padding: 5% 0;
        font-size: 1.8rem;
        letter-spacing: .1rem;
        border-radius: 1.5rem;
    }
    p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include break(med) {
            position: relative;
            top: .25rem;
        }
    }
    span {
        color: $mainCol;
        font-size: 3.1rem;
        padding-right: 7%;
        @include break(med) {
            font-size: 5.75rem;
            letter-spacing: 0.05rem;
            padding-right: 5%;
            position: relative;
            top: -.25rem;
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: -1.7rem;
        right: 0;
        border-style: solid;
        border-width: 0 1.7rem 1.7rem 0;
        border-color: transparent white transparent transparent;
        @include break(med) {
            border: none;
        }
    }
}

p.remainingStorage {
    color: rgba(221, 219, 255, 0.75);
    span {
        color: rgba(221, 219, 255, 0.85);
        font-weight: 700;
    }
}

.remainingBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    p {
        font-size: .9rem;
        font-weight: 700;
        opacity: 0.8;
        @include break(med) {
            font-size: 1.8rem;
        }
    }
}

.bar {
    width: 100%;
    height: 1.55rem;
    background-color: rgba(12, 18, 44, .5);
    border-radius: 4rem;
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
    position: relative;
    @include break(med) {
        height: 2.85rem;
        margin-top: 2.5rem;
        margin-bottom: 1.55rem;
    }
    &::before {
        content: '';
        position: absolute;
        top: .25rem;
        bottom: .25rem;
        left: .25rem;
        right: 25%;
        background: linear-gradient(0.25turn, $gradient1, $gradient2);
        border-radius: 4rem;
        @include break(med) {
            top: .4rem;
            bottom: .4rem;
            left: .4rem;
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: .4rem;
        bottom: .4rem;
        right: 25.5%;
        width: .75rem;
        background-color: white;
        border-radius: 50%;
        @include break(med) {
            top: .65rem;
            bottom: .65rem;
            right: 25.75%;
            width: 1.5rem;
        }
    }
}


.attribution { 
    font-size: 1.1rem; 
    text-align: center; 
    flex-basis: 2%;
    position: relative;
    z-index: 1;
    background-color: $mainCol;
    width: 100%;
    padding: 1% 0;
    @include break(med) {
        position: absolute;
        bottom: 0;
        padding: 3.5% 0;
        font-size: 1.6rem;
    }
}

.attribution a { 
    color: $linkCol; 
}