$mainCol: hsl(229, 57%, 11%);
$gradient1: hsl(6, 100%, 80%);
$gradient2: hsl(335, 100%, 65%);
$mainCol2: hsl(228, 56%, 26%);
$accent1: hsl(243, 100%, 93%);
$accent2: hsl(229, 7%, 55%);

$raleway: 'Raleway', sans-serif;